<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SharpHorizons.Query.Parameters.DefaultParameterIdentifiers" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SharpHorizons.Query.DefaultQuerySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SharpHorizons.Resources.DefaultParameterIdentifiers2" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SharpHorizons.Query.QuerySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SharpHorizons.Resources.QuerySettings.HorizonsAPIAddress"
            connectionString="https://ssd.jpl.nasa.gov/api/horizons.api" />
    </connectionStrings>
    <applicationSettings>
        <SharpHorizons.Query.Parameters.DefaultParameterIdentifiers>
            <setting name="Command" serializeAs="String">
                <value>COMMAND</value>
            </setting>
            <setting name="ElementLabels" serializeAs="String">
                <value>ELM_LABELS</value>
            </setting>
            <setting name="EphemerisType" serializeAs="String">
                <value>EPHEM_TYPE</value>
            </setting>
            <setting name="EpochCollection" serializeAs="String">
                <value>TLIST</value>
            </setting>
            <setting name="EpochCollectionFormat" serializeAs="String">
                <value>TLIST_TYPE</value>
            </setting>
            <setting name="GenerateEphemerides" serializeAs="String">
                <value>MAKE_EPHEM</value>
            </setting>
            <setting name="ObjectDataInclusion" serializeAs="String">
                <value>OBJ_DATA</value>
            </setting>
            <setting name="Origin" serializeAs="String">
                <value>CENTER</value>
            </setting>
            <setting name="OriginCoordinate" serializeAs="String">
                <value>SITE_COORD</value>
            </setting>
            <setting name="OriginCoordinateType" serializeAs="String">
                <value>COORD_TYPE</value>
            </setting>
            <setting name="OutputFormat" serializeAs="String">
                <value>format</value>
            </setting>
            <setting name="OutputUnits" serializeAs="String">
                <value>OUT_UNITS</value>
            </setting>
            <setting name="ReferencePlane" serializeAs="String">
                <value>REF_PLANE</value>
            </setting>
            <setting name="ReferenceSystem" serializeAs="String">
                <value>REF_SYSTEM</value>
            </setting>
            <setting name="StartEpoch" serializeAs="String">
                <value>START_TIME</value>
            </setting>
            <setting name="StepSize" serializeAs="String">
                <value>STEP_SIZE</value>
            </setting>
            <setting name="StopEpoch" serializeAs="String">
                <value>STOP_TIME</value>
            </setting>
            <setting name="TimeDeltaInclusion" serializeAs="String">
                <value>VEC_DELTA_T</value>
            </setting>
            <setting name="TimePrecision" serializeAs="String">
                <value>TIME_DIGITS</value>
            </setting>
            <setting name="ValueSeparation" serializeAs="String">
                <value>CSV_FORMAT</value>
            </setting>
            <setting name="VectorCorrection" serializeAs="String">
                <value>VEC_CORR</value>
            </setting>
            <setting name="VectorLabels" serializeAs="String">
                <value>VEC_LABELS</value>
            </setting>
            <setting name="VectorTableContent" serializeAs="String">
                <value>VEC_TABLE</value>
            </setting>
        </SharpHorizons.Query.Parameters.DefaultParameterIdentifiers>
        <SharpHorizons.Query.DefaultQuerySettings>
            <setting name="HorizonsHTTPAddress" serializeAs="String">
                <value>https://ssd.jpl.nasa.gov/api/horizons.api</value>
            </setting>
        </SharpHorizons.Query.DefaultQuerySettings>
        <SharpHorizons.Resources.DefaultParameterIdentifiers2>
            <setting name="Command" serializeAs="String">
                <value>COMMAND</value>
            </setting>
            <setting name="ElementLabels" serializeAs="String">
                <value>ELM_LABELS</value>
            </setting>
            <setting name="EphemerisType" serializeAs="String">
                <value>EPHEM_TYPE</value>
            </setting>
            <setting name="EpochCollection" serializeAs="String">
                <value>TLIST</value>
            </setting>
            <setting name="EpochCollectionFormat" serializeAs="String">
                <value>TLIST_TYPE</value>
            </setting>
            <setting name="GenerateEphemerides" serializeAs="String">
                <value>MAKE_EPHEM</value>
            </setting>
            <setting name="ObjectDataInclusion" serializeAs="String">
                <value>OBJ_DATA</value>
            </setting>
            <setting name="Origin" serializeAs="String">
                <value>CENTER</value>
            </setting>
            <setting name="OriginCoordinate" serializeAs="String">
                <value>SITE_COORD</value>
            </setting>
            <setting name="OriginCoordinateType" serializeAs="String">
                <value>COORD_TYPE</value>
            </setting>
            <setting name="OutputFormat" serializeAs="String">
                <value>format</value>
            </setting>
            <setting name="OutputUnits" serializeAs="String">
                <value>OUT_UNITS</value>
            </setting>
            <setting name="ReferencePlane" serializeAs="String">
                <value>REF_PLANE</value>
            </setting>
            <setting name="ReferenceSystem" serializeAs="String">
                <value>REF_SYSTEM</value>
            </setting>
            <setting name="StartEpoch" serializeAs="String">
                <value>START_TIME</value>
            </setting>
            <setting name="StepSize" serializeAs="String">
                <value>STEP_SIZE</value>
            </setting>
            <setting name="StopEpoch" serializeAs="String">
                <value>STOP_TIME</value>
            </setting>
            <setting name="TimeDeltaInclusion" serializeAs="String">
                <value>VEC_DELTA_T</value>
            </setting>
            <setting name="TimePrecision" serializeAs="String">
                <value>TIME_DIGITS</value>
            </setting>
            <setting name="ValueSeparation" serializeAs="String">
                <value>CSV_FORMAT</value>
            </setting>
            <setting name="VectorCorrection" serializeAs="String">
                <value>VEC_CORR</value>
            </setting>
            <setting name="VectorLabels" serializeAs="String">
                <value>VEC_LABELS</value>
            </setting>
            <setting name="VectorTableContent" serializeAs="String">
                <value>VEC_TABLE</value>
            </setting>
        </SharpHorizons.Resources.DefaultParameterIdentifiers2>
        <SharpHorizons.Query.QuerySettings>
            <setting name="HorizonsAPIAddress" serializeAs="String">
                <value>https://ssd.jpl.nasa.gov/api/horizons.api</value>
            </setting>
        </SharpHorizons.Query.QuerySettings>
    </applicationSettings>
</configuration>