<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SharpHorizons.Settings.Interpretation.Ephemeris.Vectors.DefaultVectorsInterpretation" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SharpHorizons.Settings.Interpretation.Ephemeris.DefaultEphemerisInterpretation" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SharpHorizons.Interpretation.Ephemeris.Vectors.DefaultVectorsInterpretation" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SharpHorizons.Settings.DefaultVectorsEphemerisInterpretation" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SharpHorizons.Interpretation.Ephemeris.Origin.DefaultOriginInterpretationKeys" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SharpHorizons.Interpretation.DefaultInterpretation" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SharpHorizons.Interpretation.Ephemeris.DefaultEphemerisInterpretation" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SharpHorizons.Settings.DefaultInterpretation" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SharpHorizons.Interpretation.Ephemeris.DefaultEphemerisInterpretationKeys" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SharpHorizons.Interpretation.Ephemeris.Target.DefaultTargetInterpretationKeys" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SharpHorizons.Interpretation.Target.DefaultTargetInterpretationKeys" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SharpHorizons.Interpretation.DefaultInterpretationKeys" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SharpHorizons.Settings.InterpretationText" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SharpHorizons.Query.Parameters.DefaultParameterIdentifiers" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SharpHorizons.Query.DefaultQuerySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SharpHorizons.Resources.DefaultParameterIdentifiers2" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SharpHorizons.Query.QuerySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SharpHorizons.Resources.QuerySettings.HorizonsAPIAddress"
            connectionString="https://ssd.jpl.nasa.gov/api/horizons.api" />
    </connectionStrings>
    <applicationSettings>
        <SharpHorizons.Settings.Interpretation.Ephemeris.Vectors.DefaultVectorsInterpretation>
            <setting name="OutputUnits" serializeAs="String">
                <value>Output units</value>
            </setting>
            <setting name="VectorCorrection" serializeAs="String">
                <value>Output type</value>
            </setting>
            <setting name="VectorTableContent" serializeAs="String">
                <value>Output format</value>
            </setting>
            <setting name="ReferencePlane" serializeAs="String">
                <value>Reference frame</value>
            </setting>
        </SharpHorizons.Settings.Interpretation.Ephemeris.Vectors.DefaultVectorsInterpretation>
        <SharpHorizons.Settings.Interpretation.Ephemeris.DefaultEphemerisInterpretation>
            <setting name="EphemerisDataStart" serializeAs="String">
                <value>Ephemeris</value>
            </setting>
            <setting name="EphemerisDataBlockCount" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="WestPositiveLongitude" serializeAs="String">
                <value>West-longitude positive</value>
            </setting>
            <setting name="EastPositiveLongitude" serializeAs="String">
                <value>East-longitude positive</value>
            </setting>
            <setting name="BoundaryEpochBCE" serializeAs="String">
                <value>B.C.</value>
            </setting>
            <setting name="BoundaryEpochCE" serializeAs="String">
                <value>C.E.</value>
            </setting>
            <setting name="StartEpoch" serializeAs="String">
                <value>Start time</value>
            </setting>
            <setting name="StopEpoch" serializeAs="String">
                <value>Stop  time</value>
            </setting>
            <setting name="TimeSystem" serializeAs="String">
                <value>Start time</value>
            </setting>
            <setting name="TimeZoneOffset" serializeAs="String">
                <value>Start time</value>
            </setting>
            <setting name="StepSize" serializeAs="String">
                <value>Step-size</value>
            </setting>
            <setting name="SmallPerturbers" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>Small perturbers</string>
                        <string>Small-body perts</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ReferenceSystem" serializeAs="String">
                <value>Reference frame</value>
            </setting>
        </SharpHorizons.Settings.Interpretation.Ephemeris.DefaultEphemerisInterpretation>
        <SharpHorizons.Interpretation.Ephemeris.Vectors.DefaultVectorsInterpretation>
            <setting name="OutputUnits" serializeAs="String">
                <value>Output units</value>
            </setting>
            <setting name="VectorCorrection" serializeAs="String">
                <value>Output type</value>
            </setting>
            <setting name="VectorTableContent" serializeAs="String">
                <value>Output format</value>
            </setting>
            <setting name="ReferencePlane" serializeAs="String">
                <value>Reference frame</value>
            </setting>
        </SharpHorizons.Interpretation.Ephemeris.Vectors.DefaultVectorsInterpretation>
        <SharpHorizons.Settings.DefaultVectorsEphemerisInterpretation>
            <setting name="OutputUnits" serializeAs="String">
                <value>Output units</value>
            </setting>
        </SharpHorizons.Settings.DefaultVectorsEphemerisInterpretation>
        <SharpHorizons.Interpretation.Ephemeris.Origin.DefaultOriginInterpretationKeys>
            <setting name="BodyName" serializeAs="String">
                <value>Center body name</value>
            </setting>
            <setting name="GeodeticCoordinate" serializeAs="String">
                <value>Center geodetic</value>
            </setting>
            <setting name="CylindricalCoordinate" serializeAs="String">
                <value>Center cylindric</value>
            </setting>
            <setting name="ReferenceEllipsoid" serializeAs="String">
                <value>Center pole/equ</value>
            </setting>
            <setting name="Radii" serializeAs="String">
                <value>Center radii</value>
            </setting>
            <setting name="SiteName" serializeAs="String">
                <value>Center-site name</value>
            </setting>
            <setting name="GeocentricSite" serializeAs="String">
                <value>GEOCENTRIC</value>
            </setting>
            <setting name="CustomSite" serializeAs="String">
                <value>(used defined site below)</value>
            </setting>
        </SharpHorizons.Interpretation.Ephemeris.Origin.DefaultOriginInterpretationKeys>
        <SharpHorizons.Interpretation.DefaultInterpretation>
            <setting name="UnavailableText" serializeAs="String">
                <value>unavailable</value>
            </setting>
            <setting name="RawTextSource" serializeAs="String">
                <value>API SOURCE</value>
            </setting>
            <setting name="RawTextVersion" serializeAs="String">
                <value>API VERSION</value>
            </setting>
            <setting name="BlockSeparator" serializeAs="String">
                <value>*****</value>
            </setting>
            <setting name="HorizonsTimeZoneID" serializeAs="String">
                <value>US/Pacific</value>
            </setting>
        </SharpHorizons.Interpretation.DefaultInterpretation>
        <SharpHorizons.Interpretation.Ephemeris.DefaultEphemerisInterpretation>
            <setting name="EphemerisDataStart" serializeAs="String">
                <value>Ephemeris</value>
            </setting>
            <setting name="EphemerisDataBlockCount" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="WestPositiveLongitude" serializeAs="String">
                <value>West-longitude positive</value>
            </setting>
            <setting name="EastPositiveLongitude" serializeAs="String">
                <value>East-longitude positive</value>
            </setting>
            <setting name="BoundaryEpochBCE" serializeAs="String">
                <value>B.C.</value>
            </setting>
            <setting name="BoundaryEpochCE" serializeAs="String">
                <value>C.E.</value>
            </setting>
            <setting name="StartEpoch" serializeAs="String">
                <value>Start time</value>
            </setting>
            <setting name="StopEpoch" serializeAs="String">
                <value>Stop  time</value>
            </setting>
            <setting name="TimeSystem" serializeAs="String">
                <value>Start time</value>
            </setting>
            <setting name="TimeZoneOffset" serializeAs="String">
                <value>Start time</value>
            </setting>
            <setting name="StepSize" serializeAs="String">
                <value>Step-size</value>
            </setting>
            <setting name="SmallPerturbers" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>Small perturbers</string>
                        <string>Small-body perts</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ReferenceSystem" serializeAs="String">
                <value>Reference frame</value>
            </setting>
            <setting name="ReferencePlane" serializeAs="String">
                <value>Reference frame</value>
            </setting>
        </SharpHorizons.Interpretation.Ephemeris.DefaultEphemerisInterpretation>
        <SharpHorizons.Settings.DefaultInterpretation>
            <setting name="Unavailable" serializeAs="String">
                <value>unavailable</value>
            </setting>
            <setting name="RawTextSource" serializeAs="String">
                <value>API SOURCE</value>
            </setting>
            <setting name="RawTextVersion" serializeAs="String">
                <value>API VERSION</value>
            </setting>
        </SharpHorizons.Settings.DefaultInterpretation>
        <SharpHorizons.Interpretation.Ephemeris.DefaultEphemerisInterpretationKeys>
            <setting name="EphemerisDataStart" serializeAs="String">
                <value>Ephemeris</value>
            </setting>
            <setting name="EphemerisDataBlockCount" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Unavailable" serializeAs="String">
                <value>unavailable</value>
            </setting>
            <setting name="WestPositiveLongitude" serializeAs="String">
                <value>West-longitude positive</value>
            </setting>
            <setting name="EastPositiveLongitude" serializeAs="String">
                <value>East-longitude positive</value>
            </setting>
        </SharpHorizons.Interpretation.Ephemeris.DefaultEphemerisInterpretationKeys>
        <SharpHorizons.Interpretation.Ephemeris.Target.DefaultTargetInterpretationKeys>
            <setting name="BodyName" serializeAs="String">
                <value>Target body name</value>
            </setting>
            <setting name="GeodeticCoordinate" serializeAs="String">
                <value>Target geodetic</value>
            </setting>
            <setting name="CylindricalCoordinate" serializeAs="String">
                <value>Target cylindric</value>
            </setting>
            <setting name="ReferenceEllipsoid" serializeAs="String">
                <value>Target pole/equ</value>
            </setting>
            <setting name="Radii" serializeAs="String">
                <value>Target radii</value>
            </setting>
        </SharpHorizons.Interpretation.Ephemeris.Target.DefaultTargetInterpretationKeys>
        <SharpHorizons.Interpretation.Target.DefaultTargetInterpretationKeys>
            <setting name="BodyName" serializeAs="String">
                <value>Target body name</value>
            </setting>
            <setting name="GeodeticCoordinate" serializeAs="String">
                <value>Target geodetic</value>
            </setting>
        </SharpHorizons.Interpretation.Target.DefaultTargetInterpretationKeys>
        <SharpHorizons.Interpretation.DefaultInterpretationKeys>
            <setting name="TargetBodyName" serializeAs="String">
                <value>Target body name</value>
            </setting>
            <setting name="TargetGeodeticCoordinate" serializeAs="String">
                <value>Target geodetic</value>
            </setting>
        </SharpHorizons.Interpretation.DefaultInterpretationKeys>
        <SharpHorizons.Settings.InterpretationText>
            <setting name="Target" serializeAs="String">
                <value>Target body name:</value>
            </setting>
        </SharpHorizons.Settings.InterpretationText>
        <SharpHorizons.Query.Parameters.DefaultParameterIdentifiers>
            <setting name="Command" serializeAs="String">
                <value>COMMAND</value>
            </setting>
            <setting name="ElementLabels" serializeAs="String">
                <value>ELM_LABELS</value>
            </setting>
            <setting name="EphemerisType" serializeAs="String">
                <value>EPHEM_TYPE</value>
            </setting>
            <setting name="EpochCollection" serializeAs="String">
                <value>TLIST</value>
            </setting>
            <setting name="EpochCollectionFormat" serializeAs="String">
                <value>TLIST_TYPE</value>
            </setting>
            <setting name="GenerateEphemerides" serializeAs="String">
                <value>MAKE_EPHEM</value>
            </setting>
            <setting name="ObjectDataInclusion" serializeAs="String">
                <value>OBJ_DATA</value>
            </setting>
            <setting name="Origin" serializeAs="String">
                <value>CENTER</value>
            </setting>
            <setting name="OriginCoordinate" serializeAs="String">
                <value>SITE_COORD</value>
            </setting>
            <setting name="OriginCoordinateType" serializeAs="String">
                <value>COORD_TYPE</value>
            </setting>
            <setting name="OutputFormat" serializeAs="String">
                <value>format</value>
            </setting>
            <setting name="OutputUnits" serializeAs="String">
                <value>OUT_UNITS</value>
            </setting>
            <setting name="ReferencePlane" serializeAs="String">
                <value>REF_PLANE</value>
            </setting>
            <setting name="ReferenceSystem" serializeAs="String">
                <value>REF_SYSTEM</value>
            </setting>
            <setting name="StartEpoch" serializeAs="String">
                <value>START_TIME</value>
            </setting>
            <setting name="StepSize" serializeAs="String">
                <value>STEP_SIZE</value>
            </setting>
            <setting name="StopEpoch" serializeAs="String">
                <value>STOP_TIME</value>
            </setting>
            <setting name="TimeDeltaInclusion" serializeAs="String">
                <value>VEC_DELTA_T</value>
            </setting>
            <setting name="TimePrecision" serializeAs="String">
                <value>TIME_DIGITS</value>
            </setting>
            <setting name="ValueSeparation" serializeAs="String">
                <value>CSV_FORMAT</value>
            </setting>
            <setting name="VectorCorrection" serializeAs="String">
                <value>VEC_CORR</value>
            </setting>
            <setting name="VectorLabels" serializeAs="String">
                <value>VEC_LABELS</value>
            </setting>
            <setting name="VectorTableContent" serializeAs="String">
                <value>VEC_TABLE</value>
            </setting>
            <setting name="EpochCalendar" serializeAs="String">
                <value>CAL_TYPE</value>
            </setting>
            <setting name="TimeSystem" serializeAs="String">
                <value>TIME_TYPE</value>
            </setting>
            <setting name="TimeZone" serializeAs="String">
                <value>TIME_ZONE</value>
            </setting>
        </SharpHorizons.Query.Parameters.DefaultParameterIdentifiers>
        <SharpHorizons.Query.DefaultQuerySettings>
            <setting name="HorizonsHTTPAddress" serializeAs="String">
                <value>https://ssd.jpl.nasa.gov/api/horizons.api</value>
            </setting>
        </SharpHorizons.Query.DefaultQuerySettings>
        <SharpHorizons.Resources.DefaultParameterIdentifiers2>
            <setting name="Command" serializeAs="String">
                <value>COMMAND</value>
            </setting>
            <setting name="ElementLabels" serializeAs="String">
                <value>ELM_LABELS</value>
            </setting>
            <setting name="EphemerisType" serializeAs="String">
                <value>EPHEM_TYPE</value>
            </setting>
            <setting name="EpochCollection" serializeAs="String">
                <value>TLIST</value>
            </setting>
            <setting name="EpochCollectionFormat" serializeAs="String">
                <value>TLIST_TYPE</value>
            </setting>
            <setting name="GenerateEphemerides" serializeAs="String">
                <value>MAKE_EPHEM</value>
            </setting>
            <setting name="ObjectDataInclusion" serializeAs="String">
                <value>OBJ_DATA</value>
            </setting>
            <setting name="Origin" serializeAs="String">
                <value>CENTER</value>
            </setting>
            <setting name="OriginCoordinate" serializeAs="String">
                <value>SITE_COORD</value>
            </setting>
            <setting name="OriginCoordinateType" serializeAs="String">
                <value>COORD_TYPE</value>
            </setting>
            <setting name="OutputFormat" serializeAs="String">
                <value>format</value>
            </setting>
            <setting name="OutputUnits" serializeAs="String">
                <value>OUT_UNITS</value>
            </setting>
            <setting name="ReferencePlane" serializeAs="String">
                <value>REF_PLANE</value>
            </setting>
            <setting name="ReferenceSystem" serializeAs="String">
                <value>REF_SYSTEM</value>
            </setting>
            <setting name="StartEpoch" serializeAs="String">
                <value>START_TIME</value>
            </setting>
            <setting name="StepSize" serializeAs="String">
                <value>STEP_SIZE</value>
            </setting>
            <setting name="StopEpoch" serializeAs="String">
                <value>STOP_TIME</value>
            </setting>
            <setting name="TimeDeltaInclusion" serializeAs="String">
                <value>VEC_DELTA_T</value>
            </setting>
            <setting name="TimePrecision" serializeAs="String">
                <value>TIME_DIGITS</value>
            </setting>
            <setting name="ValueSeparation" serializeAs="String">
                <value>CSV_FORMAT</value>
            </setting>
            <setting name="VectorCorrection" serializeAs="String">
                <value>VEC_CORR</value>
            </setting>
            <setting name="VectorLabels" serializeAs="String">
                <value>VEC_LABELS</value>
            </setting>
            <setting name="VectorTableContent" serializeAs="String">
                <value>VEC_TABLE</value>
            </setting>
        </SharpHorizons.Resources.DefaultParameterIdentifiers2>
        <SharpHorizons.Query.QuerySettings>
            <setting name="HorizonsAPIAddress" serializeAs="String">
                <value>https://ssd.jpl.nasa.gov/api/horizons.api</value>
            </setting>
        </SharpHorizons.Query.QuerySettings>
    </applicationSettings>
</configuration>